<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if state != "not found!" %}
            <H1>State: {{ state.name }}</H1>
            <H3>Cities:</H3>
            <UL>
                {% for city in state.cities %}
                    <LI>
                        {{ city.id }}: <B>{{ city.name }}</B>
                    </LI>
                {% endfor %}
            </UL>
        {% else %}
            <H1>Not Found!</H1>
        {% endif %}
    </BODY>
</HTML>
